* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.emoji-container {
    margin: 18px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fafafa;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 24px 0;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.emoji-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.emoji-container .emoji-wrapper {
    cursor: pointer;
    position: relative;
    transition: .3s;
    width: 20%;
}

.emoji-container .emoji-wrapper .emoji {
    transition: .3s;
    width: 100%;
}

.emoji-container .emoji-wrapper img {
    width: 100%;
    display: block;
    margin: 0 auto ;
    padding: 8px 40px;
}

.emoji-container .emoji-wrapper input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.emoji-container .emoji-wrapper label {
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 8px;
}

.emoji-container .emoji-wrapper:hover input:checked,
.emoji-container .emoji-wrapper:hover input:checked + .emoji {
    transform: translateY(0px) scale(1);
}

.emoji-container .emoji-wrapper:hover,
.emoji-container .emoji-wrapper input:checked,
.emoji-container .emoji-wrapper input:checked + .emoji {
    transform: translateY(-30px) scale(1.2);
}

@media (max-width: 1199.98px) {

    .emoji-container .emoji-wrapper img {
        padding: 8px 32px;
    }

}

@media (max-width: 991.98px) {

    .emoji-container .emoji-wrapper img {
        padding: 8px 24px;
    }

}

@media (max-width: 767.98px) {

    .emoji-container .emoji-wrapper img {
        padding: 8px;
    }
}